@using CTM.Areas.Search.ViewModels.EnglishTests
@using CTM.Codes.CustomControls
@using CTM.Codes.CustomControls.EnglishTests
@using CTMLib.Extensions
@using CTMLib.Models
@using CTMLib.Resources
@model IEnumerable<CTM.Areas.Search.ViewModels.EnglishTests.SearchResult>

<div class="container">

    @if (Model.Any())
    {

        Pager pager = ViewBag.Pager;
        Search searchViewModel = ViewBag.SearchResultViewModel;

        // Pagination
        @Ajax.Pagination(searchViewModel, pager)

        // Table
        @Html.Table_SearchResult(Model)

        // Pagination
        @Ajax.Pagination(searchViewModel, pager)

    }
    else
    {
        <p>@ConstViews.INFO_RecordsNotFound</p>
    }
</div>


