@using CTM.Areas.Search.ViewModels.EnglishTests
@using CTM.Codes.CustomControls.EnglishTests
@using CTMLib.Models
@using CTMLib.Resources
@model IEnumerable<CTM.Areas.Search.ViewModels.EnglishTests.SearchResultIsLatest>


@if (Model.Any())
{

    <!-- #region Pagination -->
    Pager pager = ViewBag.Pager;
    Search searchViewModel = ViewBag.SearchResultViewModel;
    @Ajax.Pagination(searchViewModel, pager)

    <!-- #endregion -->

    @Html.Table_SearchResult_IsLatest(Model)

 

}
else
{
    <p>@ConstViews.INFO_RecordsNotFound</p>
}


