@using CTM.Codes.CustomControls.EnglishTests
@using CTMLib.Resources
@model CTM.Areas.Search.ViewModels.EnglishTests.Search
@{
    ViewBag.Title = "Index";
}


<div >
    <div>
        <h1>英语</h1>
    </div>

    <div class="">
        <!-- #region Search_Div -->

        @using (Ajax.Form_Search()) { }

        <!-- #endregion -->
        <!-- #region Search_Result -->

        <div id="search_result_table" ></div>
        <!-- #endregion -->

    </div>
</div>
<!-- #region  Manage data partial view -->

<div class="" >
    @Html.Partial("_ManageDataPartial")
</div>

<!-- #endregion -->