@using CTM.Codes.CustomControls
@model CTM.Areas.Search.ViewModels.EnglishTests.Search

<div class="container-fluid">
    <div class="container">
        
        @* Title *@
        <div class="row">
            <h1>@CTMLocalizationLib.Resources.ConstModels.EnglishTest</h1>
        </div>
        
        @* Search Form *@
        <div class="row">
            @using (Ajax.Form_Search())
            {
            }
        </div>
    </div>
</div>

