@using CTM.Codes.CustomControls.EnglishTests
@using CTMLib.Resources
@model CTM.Areas.Search.ViewModels.EnglishTests.Search
@{
    ViewBag.Title = "Index";
}

<div class="module" >
    <div class="container">
        <div class="row">
            <h1>@ConstModels.EnglishTest</h1>
        </div>

        <div class="row">
            <!-- #region Search_Div -->

            @using (Ajax.Form_Search()) { }

            <!-- #endregion -->


        </div>
    </div>
</div>
<!-- #region Search_Result -->
<div class="module" style="background-color: white">
    <div class="container" id="search_result_table">

    </div>
</div>
<!-- #endregion -->
