@using CTM.Codes.CustomControls
@using CTMLib.Resources
@model CTM.Areas.Search.ViewModels.EnglishTests.Search
@{
    ViewBag.Title = "Index";
}

<div class="container-fluid">
    <div class="container">
        
        @* Title *@
        <div class="row">
            <h1>@ConstModels.EnglishTest</h1>
        </div>
        
        @* Search Form *@
        <div class="row">
            @using (Ajax.Form_Search())
            {
            }
        </div>
    </div>
</div>

