@using CTM.Codes.CustomControls
@using CTMLib.Resources
@model CTM.Areas.Search.ViewModels.EnglishTests.Search
@{
    ViewBag.Title = "Index";
}
<div class="container-fluid" style="background-color:#F9F9F9 ">
    <div class="container">
        <div class="row">
            <h1>@ConstModels.EnglishTest</h1>
        </div>

        <div class="row">
            <!-- #region Search_Div -->

            @using (Ajax.Form_Search()) { }

            <!-- #endregion -->


        </div>
    </div>
</div>

