@using CTM.Codes.CustomControls
@using CTM.Codes.CustomControls.Shared
@using CTMLib.Extensions
@using CTMLib.Models
@using CTMLib.Resources
@model CTM.Areas.ManageData.ViewModels.EnglishTests.Create

<div class="container">


    @using (Ajax.Form_Create())
    {

    }

</div>