
/*#region ALL */

.label-warning {
    background-color: #ff9800;
}

.label-info {
    background-color: #00bcd4;
}

.label-danger {
    background-color: #f44336;
}

.label {
    border-radius: 12px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 10px;
}

.label {
    display: inline;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
}


.font-primary {
    color:#00bcd4 !important
}

.font-accent {
    color: #7cb342 !important;
}

.font-warning {
    color: #ff9800 !important;
}

.font-info {
    color: #00bcd4 !important;
}

.font-danger {
    color: #f44336 !important;
}

.background-info {
    background: #00bcd4 !important;
}

.background-danger {
    background: #f44336 !important;
    color: black;
}

/*#endregion */

/*#region Pagination */

/*#endregion */
/*#region Loader */
.spinner {
    -webkit-animation: rotator 1.4s linear infinite;
    animation: rotator 1.4s linear infinite;
    position: fixed;
    z-index: 2000;
    height: 2em;
    width: 2em;
    overflow: visible;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
}



@-webkit-keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

@keyframes rotator {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
    }
}

.path {
    stroke-dasharray: 187;
    stroke-dashoffset: 0;
    -webkit-transform-origin: center;
    transform-origin: center;
    -webkit-animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
    animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@-webkit-keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@keyframes colors {
    0% {
        stroke: #4285F4;
    }

    25% {
        stroke: #DE3E35;
    }

    50% {
        stroke: #F7C223;
    }

    75% {
        stroke: #1B9A59;
    }

    100% {
        stroke: #4285F4;
    }
}

@-webkit-keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}

@keyframes dash {
    0% {
        stroke-dashoffset: 187;
    }

    50% {
        stroke-dashoffset: 46.75;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    100% {
        stroke-dashoffset: 187;
        -webkit-transform: rotate(450deg);
        transform: rotate(450deg);
    }
}


/* -- Loader End-- */

/*#endregion */


/*#region Login */


.login-page-mdl-grid {
   
    max-width: 600px;
    min-width: 350px;

    position: absolute;
    left: 50%;
    top: 50%;
    /*
  Nope =(
  margin-left: -25%;
  margin-top: -25%;
  */
    /* 
  Yep!
  */
    transform: translate(-50%, -50%);
    /*
  Not even necessary really. 
  e.g. Height could be left out!
  */
    width: 40%;
    /*height: 50%;*/
}

.login-page-mdl-grid > form{

    width: 100%
}

.login-card-wide.mdl-card {
    width: unset;
   
}

.login-card-wide  > .mdl-card__title {
    color: #fff;
    height: 176px;
    background-image: url('../Images/login_card_bg.jpg') ;
}

.login-card-wide > .mdl-card__menu {
    color: #fff;
}

.login-card-wide > .mdl-card__supporting-text {

    width: 100%;
}


/*#endregion */

/*#region AutoComplete */


/*#endregion */




