
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}




<div class="englishtest-query-mdl-grid mdl-grid">



    @*Search Form*@
    @Html.Partial("_SearchFormPartial")


    <div id="search_result_table">

    </div>


</div>
